:root{
    --pink-primary: #fd79a8;
    --pink-secondary: #d9e4f5;
    --internal-distance: 1px;
    --double-internal-distance: 2px;
}

body {
    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.time {
    font-size: 9px !important
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer
}
.feed-image{
    display: inline-block;
    position: relative;
    width: 100%;
}

.feed-image img {
    width: 100%;
    height: auto;
}

.space-bar-h{
    width: 100%;
    height: var(--internal-distance);
    display: inline-block;
}

.space-bar-v{
    height: 100%;
    width: var(--internal-distance);
    display: inline-block;
}

.feed-image a{
    display: inline-block;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: 50%;
    overflow: hidden;
}

.feed-image img{
    display: none;
}

.square {
    position: relative;
    width: 50%;
}

.double-square-v{
    position: relative;
    width: 50%;
}

.rectangle-v-1{
    position: relative;
    width: 33%;
}

.rectangle-v-2 {
    position: relative;
    width: 66%;
}

.rectangle-v-2-2 {
    position: relative;
    width: 50%;
}

.double-square-h, .rectangle-h-1, .rectangle-h-2 {
    position: relative;
    width: 100%;
}

.rectangle-h-2-2 {
    position: relative;
    width: 66%;
}

.square:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.double-square-h:after{
    content: "";
    display: block;
    padding-bottom: 50%;
}
  
.double-square-v:after {
    content: "";
    display: block;
    padding-bottom: 200%;
}

.rectangle-h-1:after{
    content: "";
    display: block;
    padding-bottom: 33%;
}

.rectangle-h-2:after{
    content: "";
    display: block;
    padding-bottom: 66%;
}

.rectangle-h-2-2:after{
    content: "";
    display: block;
    padding-bottom: 75%;
}

.rectangle-v-2-2:after{
    content: "";
    display: block;
    padding-bottom: 150%;
}

.rectangle-v-2:after{
    content: "";
    display: block;
    padding-bottom: 150%;
}

.rectangle-v-1:after{
    content: "";
    display: block;
    padding-bottom: 300%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layout-1 a:first-child {
    width: 100%;
    margin-bottom: var(--double-internal-distance);
}

.layout-1 a:nth-child(2) {
    width: calc(50% - var(--internal-distance));
}

.layout-1 a:nth-child(3) {
    width: calc(50% - var(--internal-distance));
    margin-left: var(--double-internal-distance);
}

.layout-2 a:last-child {
    margin-top: var(--double-internal-distance);
}

.layout-3 a:first-child {
    width: calc(50% - var(--internal-distance));
}

.layout-3 a:last-child {
    width: calc(50% - var(--internal-distance));
    margin-left: var(--double-internal-distance);
}

.layout-4 a:last-child {
    margin-top: var(--double-internal-distance);
}

.layout-5 a:last-child {
    margin-top: var(--double-internal-distance);
}

.layout-6 a:last-child {
    width: calc(66% - var(--double-internal-distance));
    margin-left: var(--double-internal-distance);
}
.layout-6 a:last-child:after{
    padding-bottom: 151%;
}

.layout-7 a:last-child {
    width: calc(33% - var(--double-internal-distance));
    margin-left: var(--double-internal-distance);
}
.layout-7 a:last-child:after{
    padding-bottom: 303%;
}

.layout-8 a:nth-child(2) {
    width: calc(50% - var(--double-internal-distance));
    margin-left: var(--double-internal-distance);
}

.layout-8 a:last-child {
    width: calc(50% - var(--double-internal-distance));
    margin-left: var(--double-internal-distance);
    margin-top: var(--double-internal-distance);
}

.layout-8 a:last-child:after{
    padding-bottom: 101%;
}

.layout-9 a:nth-child(2) {
    width: calc(50% - var(--double-internal-distance));
    margin-left: var(--double-internal-distance);
}

.layout-9 a:nth-child(2):after {
    padding-bottom: 202%;
}

.layout-9 a:last-child {
    margin-top: -50%;
}

.layout-10 a:first-child {
    width: calc(50% - var(--internal-distance));
}

.layout-10 a:nth-child(2) {
    width: calc(50% - var(--internal-distance));
    margin-left: var(--double-internal-distance);
}

.layout-10 a:last-child {
    margin-top: var(--double-internal-distance);
}

.layout-11 a:first-child::after {
    padding-bottom: 301%;
}

.layout-11 a:nth-child(2) {
    margin-left: var(--double-internal-distance);
}

.layout-11 a:last-child {
    margin-top: var(--double-internal-distance);
    margin-left: var(--double-internal-distance);
}

.layout-12 a:first-child {
    margin-right: var(--double-internal-distance);
}

.layout-12 a:nth-child(2)::after {
    padding-bottom: 302%;
 }

.layout-12 a:last-child {
    margin-right: var(--double-internal-distance);
    margin-top: -50%;
    
}

.layout-13 a:first-child {
    margin-bottom: var(--double-internal-distance);
}

.layout-13 a:nth-child(2) {
    width: calc(50% - var(--internal-distance));
 }

.layout-13 a:last-child {
    margin-left: var(--double-internal-distance);
    width: calc(50% - var(--internal-distance));
}

.layout-14 a:first-child {
    width: calc(50% - var(--internal-distance));
}

.layout-14 a:nth-child(2) {
    margin-left: var(--double-internal-distance);
    width: calc(50% - var(--internal-distance));
 }

.layout-14 a:last-child {
    margin-top: var(--double-internal-distance);
}